@import '@angular/material/prebuilt-themes/indigo-pink.css';

.upload-container,
.question-container {
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
