/* Animation de spin pour le spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .spinner {
    display: inline-block;
    margin-top: 20px;
  }
  